.prettierignore
Assets/Little Arrow.svg
Assets/LOGO.svg
Assets/Best Sushi Ever.svg
Assets/Cart Group.svg
Assets/CONTACT BUTTON.svg
Assets/fi-br-heart.svg
Assets/Group 15.svg
Assets/Search Icon.svg
